* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: royalblue;
    justify-content: center;
    align-items: center;
    display: flex;
}


.box { 
margin-top: 110px;
background-color: skyblue;
padding: 180px;
border-radius: 20%;
}


h1 {
    text-align: center;
    color: navy;
    font-size: 30px;
}

input {
        padding: 20px;
        height: 50px;
        width: 400px;
        border-radius: 6px;
        border: 2px;
        font-size: 22px;
        }
       
 input::placeholder{
         font-size: 20px;
         text-align: center;
        } 
 

.box button {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
  }

  .box button:hover {
    background-color: goldenrod;
  }

