* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: goldenrod;
    justify-content: center;
    display: flex;
    align-items: center;
}


.container { 
background-color: skyblue;
margin-top: 50px;
padding: 50px;
border-radius: 20%;
size-adjust: 50%;
}


h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    margin: 10px;
}

.container input {
   padding: 30px;
   width: 500px;
   border-radius: 6px;
   font-size: 15px;
 
 }
       
 input::placeholder{
   font-size: 20px;
   text-align: center;
  } 
 

.container button {
    display: block;
    align-content: center;
    background-color: white;
    height: 20%;
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    position: relative;
    left: 120px;
    
}


  .container button:hover {
    background-color: goldenrod;
  }

 
form {
  display: flex;
  padding: 8px;
  margin: 10px;
  max-width: 10px;
  align-content: center;
  
  
}


label {
    text-align: center;
    padding-inline: 20px;

 }